@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-gray-0: #424549;
  --custom-gray-1: #36393e;
  --custom-gray-2: #282b30;
  --custom-gray-3: #1e2124;
  --custom-blue: #009FFD;
  --font-color: white;
}

body {
  color: var(--font-color);

  background: var(--custom-gray-0);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {

  #warning_computer {
    position: fixed;
    inset: 0;
    background: var(--custom-gray-2);

    justify-content: center;
    align-items: center;
  }

}